.plusBtn {
    font-size: 1.5rem;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    float: right;
    background-color: green;
    margin-right: 140px;
    margin-top: 20px;
    border-style: none;
}
